<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">
    <http:listener-config name="sapi-bookings-trans-national-httpListenerConfig">
        <http:listener-connection host="${http.listener.host}" port="${http.listener.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="keystore/keystore.jks" alias="firstcoach" keyPassword="ronald" password="ronald" />
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="sapi-bookings-trans-national-config" api="sapi-bookings-trans-national.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<global-property doc:name="Global Property" doc:id="1b8e8fd3-f439-4ba8-994c-302952fa1427" name="mule.env" value="local" />
	<configuration-properties doc:name="Configuration properties" doc:id="9adfe16c-e497-4cd2-80ec-8989a9c45eee" file="configs/app-config-${mule.env}.properties" />

</mule>
